.bgColor {
  background-color: rgb(227, 252, 170);
}
.colored-text {
  background-image: linear-gradient(
    to left,
    rgb(126, 7, 7),
    rgb(247, 42, 42),
    rgb(74, 14, 14)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile {
  font-size: 5vw;
  font-family: Arial;
  background: linear-gradient(
      to right,
      rgba(241, 153, 241, 0) 0%,
      rgba(77, 231, 231, 0.5) 20%,
      rgba(255, 255, 255, 0) 61%
    ),
    linear-gradient(
      rgb(54, 19, 209) 52%,
      rgb(224, 246, 255) 60%,
      rgb(139, 34, 168) 61%
    );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: wave 2000ms ease alternate infinite;
  transition: all 0.4s ease;
}
@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50vw 10px;
  }
}
a {
  color: rgb(13, 96, 64);
}
